﻿
body {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    background: transparent url(/bgmb.png) no-repeat fixed;
    background-size: cover;
    background-position-y: 100px;
    background-position-x: -1200px;
    color: #fff;
    margin-top: 40px;
}

h1 {
    font-size: 40pt;
    letter-spacing: -5px;
    font-weight: 700;
    color: #fe4e65;
}

dl {
    width: 100%;
    float: left;
    padding: 10px;
    margin-bottom: 1em;
    background: #393c43;
    border-radius: 6px !important;
    opacity: 0.9;
}

dl dt{
    opacity: 1;
}

.header{
    cursor: pointer;
}
    .header span {
        color: #575a62;
    }

/*dd {
    line-height: 1.5em;
}
    dl > dt:nth-of-type(odd) {
        background-color: #fff;
        color: #ff5f55;
    }

dl > dd:nth-of-type(odd) {
    background-color: #fff;
    color: #ff5f55;
}*/


#tirelist p{
    color: #fe4e65;
    text-align: center;
}

#tirelist h1 {
    font-size: 500%;
    line-height: normal;
    color: #575a62;
}

#tirelist h1 span {
    font-size: 100%;
    letter-spacing: -2px;
    font-weight: 700;
    color: #fe4e65;
}

input[type=number]{
    font-size: 14pt;
    color: #393c43;
}


@media screen and (max-width: 600px) {

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        select:focus, .inp:focus {
            font-size: 15px;
        }
    }

    select {
        font-size: 16px !important;
    }

    #tirelist h1 {
        font-size: 300%;
        letter-spacing: -2px;
    }

        #tirelist h1 span {
            font-size: 100%;

        }
}

select {
    -webkit-appearance: none !important;
    padding: 2px;
    background: #fe4e65 !important;
    color: #fff !important;
    border-top: 1px solid #fe4e65 !important;
    border-bottom: 1px solid #fe4e65 !important;
    overflow: hidden;
    font-weight: bold;
}


.step1{
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

    .step5 {
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }

    select:disabled {
        background: #ff5f55 !important;
    }

    select:focus {
        background: #fe4e65;
        border: none !important;
        color: #fff;
    }
.form-control {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

footer{
    text-align: center;
    color: #575a62;
}

.tag {
    float: right;
    margin-right: 10px;
    position: relative;
    top: 40px;
}
    .tag input[type=text] {
        color: #383838;
        border: 1px solid #393c43;
        border-radius: 3px !important;
    }

a.button {
    margin-left: 20px;
    display: inline-block;
    padding: 4px 6px;
    margin: 0 0.3em 0.3em 0;
    color: #393c43 !important;
    background-color: #fff !important;
    border: 1px solid #fff;
    border-radius: 6px !important;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    transition: all 0.2s;
    font-weight: bold;
    cursor: pointer;
}

    a.button:hover {
        background: #fff !important;
        border: 1px solid #393c43;
        color: #393c43 !important;
    }



