﻿
@{
    ViewData["Title"] = "Tire Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-title" content="Däckväljaren">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
    <link rel="icon" href="/favicon32x32.png" type="image/x-icon" />
    <link rel="apple-touch-startup-image" href="/launch.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    <link href="~/css/tireapp.min.css" rel="stylesheet" />
    <title>Däckväljaren.</title>
</head>
<body>
    <div class="container" id="tires">
        <div class="row">
            <div class="col-lg-12">
               <h1 onclick="document.location.href='/'" class="header">Däck<span>Väljaren</span></h1>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <select class="step1 form-control" name="dim1">
                        <option value="">Bredd</option>
                        <option>135</option>
                        <option>145</option>
                        <option>155</option>
                        <option>165</option>
                        <option>175</option>
                        <option>185</option>
                        <option>195</option>
                        <option>205</option>
                        <option>215</option>
                        <option>225</option>
                        <option>235</option>
                        <option>245</option>
                        <option>255</option>
                        <option>265</option>
                        <option>275</option>
                        <option>285</option>
                        <option>295</option>
                        <option>30</option>
                        <option>305</option>
                        <option>31</option>
                        <option>315</option>
                        <option>32</option>
                        <option>325</option>
                        <option>33</option>
                        <option>345</option>
                        <option>35</option>
                        <option>37</option>
                        <option>40</option>
                    </select>
                </span>
                <span class="input-group-btn">
                    <select class="step2 form-control" name="dim2">
                        <option value="">Profil</option>
                    </select>
                </span>
                <span class="input-group-btn">
                    <select class="step3 form-control" name="dim3">
                        <option value="">Tum</option>
                    </select>
                </span>
                <span class="input-group-btn">
                    <select class="step4 form-control" name="valSasong">
                        <option value="1">Sommar</option>
                        <option value="4">Friktion</option>
                        <option value="5">Dubb</option>
                    </select>
                </span>
                <span class="input-group-btn">
                    <select class="step5 form-control" name="valBilTyp">
                        <option value="1">Personbil</option>
                        <option value="2">C Däck</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><div id="tirelist">
                    <h1>Din däckspecialist<br/><span>i Uddevalla</span></h1>
                    <p align="center">Välj dimensioner och årstid av däckuppsättning i listan ovan.</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <footer>&copy; www.däckväljaren.se 2018</footer>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    
    <script src="~/js/bundle.min.js?v=@DateTime.Now.Minute"></script>
</body>
</html>


